@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');

/* Styling for the whole page */

* {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: space-between;
}

/* Styling for the header of the page */
.header {
    display: flex;
    background-color: #1f2937;
    padding: 15px;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
    padding-bottom: 50px;
    flex: 0;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

/* Styling for the top of the page */

.top {
    padding: 50px 20%;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    flex: 1 1 22%;
}

.top .info {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 18px;
    gap: 10px;
}

.top .info h1{
    font-size: 48px; 
    color: #F9FAF8;
    font-weight: 900;
}

.top .info a {
    background-color: #3882f6;
    width: fit-content;
    padding: 8px 24px;
    border-radius: 5px;
    text-decoration: none;
    color: #F9FAF8;
}

.top img {
    height: 400px;
}

/* Styling for the cards section */

#cards-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20%;
    gap: 30px;
}

#cards-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    flex: 1 1 22%;
    display: flex;
    gap: 20px;
}
.card-box {
    height: 200px;
    width: 200px;
    border: 2px solid #3882f6;
    border-radius: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card div {
    width: 200px;
    text-align: center;
}

/* Styling for the quote section */

.quote {
    flex: 1 1 22%;
    background-color: #e5e7eb;
    padding: 50px 20%;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote blockquote {
    font-style: italic;
}

.quote cite {
    font-weight: bold;
    margin-top: 20px;
    align-self: flex-end;
}

/* Styling for the bottom */

.bottom {
    flex: 1 1 22%;
    padding: 50px 20%;

}

#call-to-action {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    padding: 30px 0;
}

#call-to-action a {
    width: fit-content;
    padding: 8px 32px;
    border-radius: 5px;
    text-decoration: none;
    color: #F9FAF8;
    border: 1px solid white;
}

/* Styling for the footer */

footer {
    padding: 15px;
    background-color: #1f2937;
    color: white;
    flex: 0;
}



